/KovacsSzabolcsZoltan/Homework2/.settings/*.prefs
/KovacsSzabolcsZoltan/Homework2/Behavioral_Pattern/*.classpath
/KovacsSzabolcsZoltan/Homework2/Behavioral_Pattern/target/classes/hu/schonherz/training/behavioral/*.class
