@CHARSET "UTF-8";
h1 {
	text-align: center;
	font-family: monospace;
}

table {
	width: 100%;
}

td {
	width: 50%;
	text-align: center;
}

hr {
	border-width: 3px;
}

a {
	font-size: 18px;
}

body {
	background-color:#58FA82;
}


#valami {
	width: 50%;
}

#textfield {
	width: 100%;
	height: 100%
}

div.blog {
	background-color: #06db3c;
}

div.name {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}